body{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-size: 110%;
}
header{

    background-color: white;
    background-image:url("flywheel.jpg");
    padding: 2px 2px 2px 2px;
}
nav a{
    text-decoration: black;
    margin: 5px 3px 3px 5px ;
    padding: 15px 10px 15px 10px;
    border-radius:5px;
}
.active{
    text-decoration: blue;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    background-color: white;
}
.left{
    width: 20%;
    display: inline-block;
    float: left;
    background-color: #20b2aa;
    padding: 10px;
}
.right{
    width: 40%;
    margin-left: 2%;
    display: inline-block;
    float: left;
}
img{
    border: 5px solid black;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: auto;
    width: 4px;
}










