body{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
header{

    background-color: white;
    background-image:url("flywheel.jpg");
    padding: 2px 2px 2px 2px;
}
nav{
    text-decoration: black;
    margin: auto;
    padding: 15px 10px 15px 10px;
    border-radius:10px;
}
.active{
    text-decoration: blue;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    background-color: white;
}
section{
    display: inline;
}

img{
    border: 5px solid black;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: auto;
}










